---
layout: default
title: 首頁
---
<div class="posts">
    {% for post in site.posts limit:5 %}
    <h3 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
        </a>
    </h3>
    <small class="post-date">
        {{ post.date | date: "%Y-%m-%d" }}
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag }}" style="border-radius: 9px;background: #82cfa9;color: rgb(252, 252, 252);padding: 5px;padding-top: 0px;padding-bottom: 1px;">
            #{{ tag }}
        </a>&nbsp;
        {% endfor %}
    </small>
    {{ post.excerpt }}
    <a href="{{ site.baseurl }}{{ post.url }}">
        繼續閱讀→
    </a>
    <br/><br/>
    {% endfor %}
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">上一篇</a>
  {% else %}
    <span class="pagination-item older">上一篇</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}"></a>下一篇</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">下一篇</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">下一篇</span>
  {% endif %}
</div>
-->