---
layout: default
---
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date: "%Y-%m-%d" }}</span>
    <div class="tags">
        {% assign sortedTags = page.tags | sort %}
        {% for tag in sortedTags %}
        <small>
            <a href="{{ site.baseurl }}/tag/{{ tag }}" style="border-radius: 9px;background: #82cfa9;color: rgb(252, 252, 252);padding: 5px;padding-top: 1px;padding-bottom: 2px;">
                #{{ tag }}
            </a>&nbsp;
        </small>
        {% endfor %}
        <br/><br/>
    </div>
    {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
    <h2>相關文章</h2>
    <ul class="related-posts">
        {% assign firstTag = page.tags | first %}
        {% for related in site.tags[firstTag] limit:4 %}
            {% if page.url == related.url %}
                {% continue %}
            {% else %}
                <li>
                    <h3>
                        <a href="{{ site.baseurl }}{{ related.url }}">{{ related.title }}</a>
                        <small>{{ related.date | date: "%Y-%m-%d" }}</small>
                    </h3>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
